body {
    background-color:#d6e6f2;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(47, 98, 150);
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: black;
  }















  header {
    margin: 0;
  }
  #title {
    text-align: center;
  }
  #head {
    float: left;
  }
  main {
    margin: 70px auto;
    width: 65%;
    background-color: white;
    padding: 15px;
    box-shadow: 3px 5px 10px #888888;

  }

  #cpu {
    width: 30px;
    display: inline;
    margin-left: 50px;
  }
  h2 {
    display: inline;
    margin-left: 20px;
    font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
  }
  #started {
    width: 500px;
    display: block;
    margin: 0 auto 50px auto;
    
  }
  
  #head {
    margin: 20px;
  }
  
  h1 {
    margin: 30px auto 0 auto;
      text-align: center;
    font-size: 42px;
  }
  
  h6 {
    margin: 0 auto 10px auto;
    text-align: center;
  }
  
  #languages {
    text-align: center;
    margin: 0;
  }
  

  #content {
    width: 80%;
    margin: 0 auto 20px auto;
    line-height: 1.8;
    font-size: 18px;
  }
  
